/*borders for DEBUG*/

/** {
    border: 1px solid red !important;
}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

body { padding-top: 4.5em; }

img, embed, object, video {
    max-width: 100%
}

/* TYPOGRAPHY */

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: black;
}

h1 {
    font-size: 18px;
}

h1 small {
    font-size: 18px;
}

h2 {
    font-size: 30px;
}

h2 {
    font-size: 30px;
}

h2 strong {
    font-family: 'Rock Salt', 'Open Sans', sans-serif;
/*    font-weight: 600;*/
    font-size: 78px;
    color: #000000;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 16px;
    color: gray;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: black;
}


/* GRID */

.cont {
    max-width: 1000px;
    display: block;
    padding: 0px 20px;
    margin-left: auto;
    margin-right: auto;
}

.cont-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
/*    overflow: hidden;*/
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%
}

.col-3 {
    width: 25%
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}



/* NAVBAR */

/* anchor 1 */

ul.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 2px  0px 3px -1px lightgray;
    -ms-box-shadow: 2px  0px 3px -1px lightgray;
    list-style-type: none;
    margin: 0;
    padding: 0px 0px;
    overflow: hidden;
    background-color: white;
    z-index: 100;
}

ul.navbar li:nth-child(2) a{
    padding-right: 30px;
}

ul.navbar li {
    float: right;
}

ul.navbar li a {
    display: block;
    text-align: center;
    padding: 1.5em 1em;
    text-decoration: none;
}

ul.navbar li p {
    display: block;
    text-align: center;
    padding: 1.5em 1em;
    text-decoration: none;
}

ul.navbar li h1 {
    display: block;
    text-align: center;
    padding: 1.5em 1em;
    padding-left: 30px;
    text-decoration: none;
}

ul.navbar li a:hover:not(.active) {
    text-decoration: underline;
}

ul.navbar .active {
    text-decoration: underline;
}

/* HEAD */

.headanim {
    z-index: -1;
    animation-name: fadein;
    animation-duration: 3s;
    animation-delay: 0s;
}

/* main */

.head-main {
    position: relative;
    background-color: lightcyan;
    text-align: center;
    padding: 4em 1em 1em 4em;
    margin-top: 3em;
}

.head-main {
    animation-name: headmainanim;
    animation-duration: 2s;
    animation-delay: 1s;
}

.head-main p {
    font-size: 22px;
}

ul#head-ul li {
    display:inline;
}

.head-main hr {
    position: relative;
    display: block;
    height: 1px;
    width: 110%;
    border: 0;
    border-top: 5px solid black;
    padding: 0;
    transform: translate(20%, -20px);
}

.head-main hr {
    animation-name: hranim;
    animation-duration: 2s;
    animation-delay: 1s;
}

/* gray rectangle on right side*/

.gray-rect {
    background-color: whitesmoke;
    width: 100%;
    height: 320px;
    transform: translate(0px, 100%);
    position: relative;
    z-index: -10;

}


.gray-rect {
    animation-name: grayrectanim;
    animation-duration: 2s;
    animation-delay: 1s;
}

/* INTERSECTION */



.intersec hr {
    margin: 4em 0%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 10px dotted black;
    padding: 0;
}

/* BUTTONS */

.button {
    display: block;
    background-color: white;
    border: 5px solid black;
    width: 100%;
    padding: 0.75em 3.5em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover{
    background-color: lightcyan;
    text-decoration: underline;
}


/* SECTIONs & TEXT-BOXes */

.section-1em {
    margin: 1em 0em;
}

.section-2em {
    margin: 2em 0em;
}

.section-3em {
    margin: 3em 0em;
}

.section-4em {
    margin: 4em 0em;
}

.flex {
    display: flex;
}

.text-box {
    width: 100%;
    padding: 1.5em 1.5em;
    background-color: lightcyan;
    border: 10px dotted black;
    background-clip: padding-box;
}

.portfolio-card {
    width: calc(50% - 10px);
    padding-bottom: 0.5em;
    background-color: whitesmoke;
}

.left {
    float: right;
    margin-right: 20px;
}

.right {
    float: left;
}

.portfolio-head {
    margin: 0.5em 1em;
}

.portfolio-head a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: darkcyan;
}

.portfolio-head p {
    color: gray;
}

.portfolio-photo {
}
f
.portfolio-photo {
    max-height: 100%;
    max-width: 100%;
}

.portfolio-text {
    margin: 0.5em 1em;
    min-height: 90px;
}

.portfolio-text a {
    font-weight: inherit;
    color: darkcyan;fport
}

.al-right{
    text-align: right;
}

.portfolio-intersec {
    width: 20px;
    height: 40px;
}

/* PROGRESS BAR */

#skillset-desktop {
    margin-top: 130px;
}

#skillset-mobile {
    margin-bottom: 4em;
}

.bar-sec {
    padding-right: 2em;
    padding-left: 1em;
    margin: 1em 0em;
    width: 100%;
    height: 40px;
    display: flex;
    overflow: hidden;
}

.bar-label {
    width: 33%;
    height: 100%;
    vertical-align: middle;
    min-width: 190px;
}

.bar-bar {
    width: 66%;
    height: 100%;
    padding-top: 11px;
}

.progress-bar {
    width: 100%;
    height: 5px;
    background-color: whitesmoke;
    display: flex;
}

.progress {
    height: 5px;
    background-color: black;
}

.v75 {
    width: 75%;
}

.v50 {
    width: 50%;
}

.v25 {
    width: 25%;
}

.progress-bar-transistion {
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}

.value {
    height: 25px;
    width: 50px;
    padding-top: -2px;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    vertical-align: middle;
    transform: translate(-20px, -10px);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: black;
    -webkit-transition: color 0.2s linear;  Safari
    transition: width 0.2s linear;
}

/* CONTACT SECTION */

.contact-sec h3 {
    font-size: 30px;
    text-align: center;
}

.contact-sec p {
    font-size: 24px;
    text-align: center;
}

.input {
    margin: 0.5em 0em;
    width: 100%;
}

.text-in {
    height: 120px;
}

.contact-opt {
    text-align: center;
}

.contact-opt a {
    text-align: center;
    background-color: black;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.contact-opt a:hover {
    background-color: lightcyan;
}

.contact-opt a i {
    color: white;
    margin-top: 0.4em;
}


/* FOOTER */

.footer {
    margin-top: 3em;
    background-color: black;
    text-align: center;
}

.footer h3 {
    padding: 1em 0em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: white;
}

/* MEDIA QUERIES */

/* IE10+ styles*/

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
ul.navbar {
    border-bottom: 1px solid whitesmoke;
}
.mobile-sidebar {
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    }
}

/* navbar */

@media (min-width: 951px) {
    .nav-mobile {
        display: none;
    }

    .mobile-sidebar {
        display: none;
    }
}

@media (max-width: 950px) {
    .navbar {
        display: none;
    }
    .nav-mobile{
        position: fixed;
        top: 0;
        width: 100%;
        box-shadow: 2px  0px 3px -1px lightgray;
        -ms-box-shadow: 2px  0px 3px -1px lightgray;
        list-style-type: none;
        margin: 0;
        padding: 0px 0px;
        overflow: hidden;
        background-color: white;
        z-index: 100;
}

    ul.nav-mobile li:last-child a{
        padding-right: 30px;
    }

    ul.nav-mobile li {
        float: right;
    }

    ul.nav-mobile li h1 {
        display: block;
        text-align: center;
        padding: 1.5em 1em;
        padding-left: 30px;
        text-decoration: none;
    }

    ul.nav-mobile img {
        margin: 20px 30px;
    }

    .nav-icon {
        width:36px;
        height:36px;
    }

    .nav-icon:hover {
        transform: scale(1.1);
        transition: transform 0.2s;
    }

/* anchor 2 */

    .mobile-sidebar {
        height: 120%;
        width: 0;
        position: fixed;
        z-index: 150;
        top: 0;
        right: 0;
        box-shadow: 0px  2px 3px -1px lightgray;
        -ms-box-shadow: 0px  2px 3px -1px lightgray;
        background-color: white;
        overflow-x: hidden;
        transition: width 0.3s ease-out;
        padding-top: 0px;
    }

    .sidebar-active {
        width: 250px;
    }

    .mobile-sidebar img {
        position: absolute;
        right: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .mobile-sidebar ul{
        margin-top: 82px;
        margin-left: 20px;
        display: block;
        text-align: left;
        padding-left: 10px;
        text-decoration: none;
        list-style-type: none;
    }

    .mobile-sidebar ul li{
        padding-bottom: 1em;
    }

    .mobile-sidebar ul li a {
        font-size: 18px;
        text-decoration: none;
    }

    .mobile-sidebar ul li a:hover {
        text-decoration: underline;
    }

    .mobile-sidebar ul li a .active {
        text-decoration: underline;
    }
}

/* responsiveness */

@media (min-width: 601px) {
    #skillset-mobile {
        display: none;
    }
}


@media (min-width: 451px) and (max-width: 600px) {
    .col-1 {
        width: 100%;
    }
    .col-2 {
        width: 100%
    }
    .col-3 {
        width: 100%
    }
    .col-4 {
        width: 100%;
    }
    .col-5 {
        width: 100%;
    }
    .col-6 {
        width: 100%;
    }
    .col-7 {
        width: 100%;
    }
    .col-8 {
        width: 100%;
    }
    .col-9 {
        width: 100%;
    }
    .col-10 {
        width: 100%;
    }
    .col-11 {
        width: 100%;
    }
    .col-12 {
        width: 100%;
    }

    .head-main {
        background-color: lightcyan;
        text-align: center;
        padding: 5em 1em 1em 1em;
        margin-top: 0em;
    }

    .head-main hr {
        display: block;
        height: 1px;
        width: 100%;
        border: 0;
        border-top: 5px solid black;
        padding: 0;
        transform: translate(0%, -20px);
    }

    .gray-rect {
        display: none;
    }

    #skillset-desktop {
        display: none;
    }

    h2 strong {
        font-size: 50px;
    }
}

@media (max-width: 450px) {
    .col-1 {
        width: 100%;
    }
    .col-2 {
        width: 100%
    }
    .col-3 {
        width: 100%
    }
    .col-4 {
        width: 100%;
    }
    .col-5 {
        width: 100%;
    }
    .col-6 {
        width: 100%;
    }
    .col-7 {
        width: 100%;
    }
    .col-8 {
        width: 100%;
    }
    .col-9 {
        width: 100%;
    }
    .col-10 {
        width: 100%;
    }
    .col-11 {
        width: 100%;
    }
    .col-12 {
        width: 100%;
    }

    .section-3em {
        margin: 2em 0em;
    }

    .section-4em {
        margin: 2em 0em;
    }

    .head-main {
        background-color: lightcyan;
        text-align: center;
        padding: 4em 1em 1em 1em;
        margin-top: 0em;
    }

    .head-main hr {
        display: block;
        height: 1px;
        width: 100%;
        border: 0;
        border-top: 5px solid black;
        padding: 0;
        transform: translate(0%, -10px);
    }

    .gray-rect {
        display: none;
    }

    .flex {
        display: inline;
    }

    .portfolio-card {
        width: 100%;
        padding-bottom: 0.5em;
        background-color: whitesmoke;
    }

    .left {
        float: none;
        margin-right: 0px;
    }

    .right {
        float: none;
        margin-top: 1em;
    }

    .bar-sec {
        padding-right: 2em;
        padding-left: 1em;
        margin: 1em 0em;
        width: 100%;
        height: 34px;
        display: inline;
        overflow: hidden;
    }

    .bar-label {
        width: 100%;
        height: 34px;
        vertical-align: middle;
        min-width: 190px;
        margin-top: 0.5em;
    }

    .bar-bar {
        width: 100%;
        height: 44px;
        padding-top: 11px;
    }

    #skillset-desktop {
        display: none;
    }


    * {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: black;
    }

    h1 small {
        display: none;
    }

    h2 strong {
        font-size: 42px;
    }

    p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 14px;
        color: black;
    }

    .portfolio-head a {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 14px;
        color: darkcyan;
    }

    .contact-opt a i {
        color: white;
        margin-top: 0.65em;
    }
}





/* animations */

.first-intersec-anim {
    position: relative;
    animation-name: fadein;
    animation-duration: 4s;
    animation-delay: 0s;
}

/*.start-fade-in2 {
    position: relative;
    animation-name: fadein;
    animation-duration: 7s;
    animation-delay: 0s;
}*/

.hideme {
    position: relative;
    opacity:0.2;
}

@keyframes hranim {
    0%   {left:-400px; top:400px;}
    100% {left:0px; top:0px;}
}

@keyframes headmainanim {
    0%      {left:0px; top:-400px;}
    100%    {left:0px; top:0px;}
}

@keyframes grayrectanim {
    0%      {left:400px; top:0px;}
    100%    {left:0px; top:0px;}
}

@keyframes fadein {
    0%    { opacity: 0 }
    60%   { opacity: 0 }
    100%   { opacity: 1 }
}

/* smooth scrolling - without it jumping to section will be jagged */

body {
  scroll-behavior: smooth;
}

/* modals */

.modal-container {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

 /* Modal Header */
.modal-top {
  padding: 0px 20px;
  background-color: white;
  color: white;
}

/* Modal Body */
.modal-body {
  padding: 40px 20px;
}

.modal-body h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: white;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0;
  border: 1px solid #888;
  width: 68%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
} 